#parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    outline: none;
    margin-top: 100px;
}

#main-bottom {
    display: flex;
    flex-direction: column;
}

#screen {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 150px;
}

#input {
    height: 50px;
    line-height: 50px;
    text-align: end;
    padding-right: 25px;
    outline: none;
    font-size: 20px;
}

#result {
    height: 100px;
    line-height: 100px;
    text-align: end;
    padding-right: 25px;
    outline: none;
    font-size: 60px;
}

#buttons {
    display: flex;
    outline: none;
}

.row {
    display: flex;
}

.column {
    width: 100px;
    height: 100px;
    line-height: 100px;
}

.number {
    color: red;
}

#bottom {
    display: flex;
}

#zero {
    width: 200px;
    height: 100px;
    line-height: 100px;
}
#decimal {
    width: 100px;
    height: 100px;
    line-height: 100px;
}

#negative {
    width: 100px;
    height: 100px;
    line-height: 100px;
}

#right {
    display: flex;
    flex-direction: column;
}
#plus,
#equals {
    width: 100px;
    height: 200px;
    line-height: 200px;
}

button {
    font-size: 30px;
    font-weight: 800;
}

div {
    outline: 1px solid black;
}